[submodule "luci/luci-app-adguardhome"]
	path = luci/luci-app-adguardhome
	url = https://github.com/iccfish/luci-app-adguardhome.git
[submodule "OpenClash"]
	path = OpenClash
	url = https://github.com/vernesong/OpenClash.git
[submodule "luci/luci-app-smartdns"]
	path = luci/luci-app-smartdns
	url = https://github.com/pymumu/luci-app-smartdns.git
[submodule "luci/luci-theme-argon"]
	path = luci/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "fw876"]
	path = fw876
	url = https://github.com/fw876/helloworld
[submodule "luci/luci-theme-infinityfreedom"]
	path = luci/luci-theme-infinityfreedom
	url = https://github.com/xiaoqingfengATGH/luci-theme-infinityfreedom
[submodule "luci/luci-theme-rosy"]
	path = luci/luci-theme-rosy
	url = https://github.com/rosywrt/luci-theme-rosy.git
[submodule "luci/luci-theme-argon-mc"]
	path = luci/luci-theme-argon-mc
	url = https://github.com/sypopo/luci-theme-argon-mc.git
[submodule "luci/luci-theme-darkmatter"]
	path = luci/luci-theme-darkmatter
	url = https://github.com/apollo-ng/luci-theme-darkmatter.git
[submodule "package/OpenAppFilter"]
	path = package/OpenAppFilter
	url = https://github.com/destan19/OpenAppFilter.git
