[submodule "luci/luci-app-adguardhome"]
	path = luci/luci-app-adguardhome
	url = https://github.com/iccfish/luci-app-adguardhome.git
[submodule "OpenClash"]
	path = OpenClash
	url = https://github.com/vernesong/OpenClash.git
[submodule "luci/luci-app-smartdns"]
	path = luci/luci-app-smartdns
	url = https://github.com/pymumu/luci-app-smartdns.git
[submodule "luci/luci-theme-argon"]
	path = luci/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "fw876"]
	path = fw876
	url = https://github.com/fw876/helloworld
